.more-info-link {
    font-family: Arial, sans-serif; /* Specifies the font family for the link */
    font-size: 14px; /* Sets the font size for the link */
    color: #3366cc; /* Defines the text color of the link using a hexadecimal color value */
    text-decoration: none; /* Removes any text decoration (e.g., underline) from the link */
    padding: 5px 10px; /* Sets the padding (space inside the link) on the top/bottom and left/right sides */
    background-color: #f2f2f2; /* Defines the background color of the link using a hexadecimal color value */
    border: 1px solid #ccc; /* Adds a border around the link with a specified color */
    border-radius: 10px; /* Applies rounded corners to the link */
    transition: background-color 0.3s ease; /* Specifies a smooth transition effect for the background color when the link is hovered */
}

.more-info-link:hover {
    background-color: #3366cc; /* Changes the background color of the link when it is hovered */
    color: #fff; /* Modifies the text color of the link when it is hovered */
    text-decoration: underline; /* Adds an underline to the link when it is hovered */
}

#carouselCatFacts.carousel {
    width: 60%; /* Sets the width of the carousel */
    margin: auto; /* Centers the carousel */
}

.carousel > .carousel-inner > .carousel-item > img{
    height:400px;
}

.carousel-content {
    position: absolute; /* Position the content */
    width: 75%; /* Specify the width of the content */
    height: 10%; /* Specify the height of the content */
    top: 50%; /* Position the top edge of the content at the middle of the parent element */
    left: 50%; /* Position the left edge of the content at the middle of the parent element */
    transform: translate(-50%, -50%);   /* Translate the content to the middle of the parent element */
    z-index: 1; /* Specify a stack order for the content */
    text-align: center; /* Center the text */
    color: rgb(0, 0, 0); /* Set the text color */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border-bottom: 10px solid rgb(0, 0, 0);
}