{% extends "base.html" %}

{% block title %}
    insertData
{% endblock %}

{% block content%}
    <section class="py-5 mt-5">
        <form class="container">
            <div class="input-group">
                <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                <button class="btn btn-primary py-0" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </section>
{% endblock %}